.container {
	width: 600px;
	margin: 0 auto;
	text-align: center;
}

.first {
	float: left;
	width: 200px;
	height: 113px;
	background: grey;

}

.second {
	float: right;
	width: 200px;
	height: 113px;
	background: yellow;
}
